.auth {
    color: rgba(255, 255, 255, 60%);

    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

address {
    margin-top: 20px;
    font-style: normal;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.container-addres {
    margin-right: 70px;
}

.contact-footer {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
    a {
        transition: color var(--transition-dur-and-funk);
        &:hover,
        &:focus {
            color: var(--chenj-color);
        }
    }
    .link {
        color: var(--text-color);
    }
    .map {
        color: var(--mane-color);
    }
}

.addres-site {
    display: flex;

    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.social-address {
    margin-right: auto;
}

.social-footer-title {
    color: var(--mane-color);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.17;
    @include font(14px, 700, 1.17);
    text-transform: uppercase;

    margin-bottom: 20px;
}

.social-address-list {
    display: flex;
    column-gap: 10px;
}

.address-icon {
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 50%;
    color: var(--mane-color);

    .social-list-icon {
        fill: var(--mane-color);
        }
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    color: rgba(255, 255, 255, 0.6);
    padding: 16px 15px;
    margin-right: 12px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    
        color: rgba(255, 255, 255, 0.6);
        }
}

.modal-submit {
    color: var(--mane-color);
    background-color: var(--chenj-color);
    border: none;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    @include font(16px, 700, 1.88);
    align-self: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 28px;

    transition: background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.modal-submit-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}